.detailbg {
  background-image: url('../assets/img/detailbg.png');
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;

  margin-bottom: 3rem;

  @media (--lg) {
    background-image: url('../assets/img/detailbg_lg.png');
    height: 100%;
  }
}

.back {
  color: black;
  margin-bottom: 5rem;

  display: flex;

  &::before {
    content: '\2190';
    padding-right: .2rem;
  }

  @media (--md) {
    justify-content: center;
    width: 30vw;
  }

  @media (--lg) {
    margin-top: -8rem;
    justify-content: center;
    width: 30vw;
  }
}

.act__detail-info {
  @media (--sm) {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  @media (--md) {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 3rem 2fr 1fr 10%;
    grid-template-areas:
      '. name name .'
      '. img infoList .'
      '. intro intro .';
  }
}

.act__detail-name {
  grid-area: name;
  text-align: center;
}

.detail-nameArtist {
  margin-bottom: 2rem;
  line-height: 1.5;
}

.act__detail-photo {
  grid-area: img;

  margin: 0 auto;

  @media (--sm) {
    height: 30rem;
    width: 100vw;
  }

  @media (--md) {
    width: auto;
    height: 40rem;
  }
}

.act__detail-infoList {
  grid-area: infoList;

  height: 24rem;
  width: 37.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 3rem;

  @media (--sm) {
    background-image: url('../assets/img/background/detail_infolistBg.png');
    background-repeat: no-repeat;

    padding-top: 2rem;
    margin-top: -5rem;

    position: relative;
  }

  @media (--md) {
    background-color: var(--purple);
    margin-left: -14rem;
    margin-top: 14rem;
  }
}

.act__detail-infoList-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.act__detail__infoList-text {
  font-size: 1.8rem;
  color: white;
}

.detail-nameTitle {
  line-height: 1.5;
  color: var(--aqua);

  @media (--md) {
    color: var(--pink);
  }
}

.act__detail__infoList {
  @media (min-width: 43.75em) {
    margin-left: -2rem;
  }

  @media (--md) {
    margin-left: 0;
  }
}

.infoList-row {
  display: flex;
  align-items: center;

  margin-bottom: 2rem;
}

.icon {
  margin-right: 3rem;
}

.detail__info-intro {
  margin-left: 1rem;
  grid-area: intro;
  line-height: 1.8;

  margin-bottom: 1.5rem;

  @media (--sm) {
    margin-left: 1rem;
  }

  @media (--lg) {
    margin-left: 6rem;
  }

  @media (--xl) {
    width: 70%;
    margin-left: 10rem;
  }
}
