.lineup__filter-bg {
  padding-left: 4rem;

  @media (--sm) {
    background-image: url('../assets/img/background/lineupbg_sm.png');
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 2rem;
  }

  @media (--md) {
    height: 60rem;
    background-image: url('../assets/img/background/lineupbg.png');
    background-repeat: no-repeat;
  }

  @media (--lg) {
    background-image: url('../assets/img/background/lineupbg_lg.png');
  }
}

.lineup__title {
  font-size: 4rem;
  color: var(--wildBlueYonder);

  @media (--md) {
    padding-top: 5rem;
  }

  @media (--xl) {
    margin-left: 15rem;
  }
}

.lineup__form {
  width: 90vw;

  display: flex;
  flex-direction: column;

  @media (--md) {
    padding-bottom: 6rem;
    padding-top: 3rem;
  }

  @media (--lg) {
    width: 100rem;
    margin: 0 auto;
  }
}

.filter__label {
  margin-bottom: 3rem;

  media(--md) {
    margin-top: -2rem;
  }
}

.chooseOption {
  margin-top: -5rem;

  @media (--sm) {
    display: flex;
    flex-direction: column;

    padding-top: 2rem;
    padding-bottom: 3rem;

    margin-left: 3rem;
  }

  @media (--md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.chooseOption input {
  display: none;
}

.chooseOption input:checked + label {
  background-color: var(--wildBlueYonder);

  color: white;
  font-size: bold;
}

.filter_input {
  color: black;
  background-color: white;

  text-transform: uppercase;

  width: 50vw;

  font-size: 1.6rem;
  text-align: center;
  padding: 1rem 1.5rem;

  border: solid .1rem var(--wildBlueYonder);

  &:hover {
    cursor: pointer;
    background-color: #fdf7f7;
  }

  @media (--sm) {
    margin-top: 1.5rem;
    margin-left: -4rem;
    width: 100%;
  }
}

.filter__input-type {
  @media (--md) {
    width: 120%;
  }
}

.filter__input-day {
  @media (--md) {
    width: 32%;
  }
}

.filter__btn {
  align-self: flex-end;

  @media (--sm) {
    margin-right: 5rem;
  }

  @media (--md) {
    margin-right: 0;
  }
}

.filter__results-header {
  display: flex;
  justify-content: space-between;

  @media (--sm) {
    background-color: var(--wildBlueYonder);
    margin-bottom: 2rem;
  }

  @media (--md) {
    margin-bottom: 5rem;
  }
}

.filter__results-title {
  @media (--sm) {
    margin-bottom: 0;
    margin-top: 0;
  }

  @media (--xl) {
    margin-left: 20rem;
  }
}

.download {
  padding: 1.25rem;
  background-color: var(--neonCarrot);

  &:hover {
    background-color: var(--malibu);
  }

  @media (--sm) {
    margin-right: 4rem;
  }

  @media (--xl) {
    margin-right: 20rem;
  }
}

.resultHeader {
  margin-bottom: 5rem;
  width: 100%;

  @media (--sm) {
    margin-top: 5rem;
  }

  @media (--md) {
    margin-top: -15rem;
  }

  @media (--lg) {
    justify-content: space-between;
  }
}

.filter__result-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (--sm) {
    width: 90vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 0 auto;
  }

  @media (--md) {
    width: 100%;
  }

  @media (--lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}
