.lineup__filter-bg {
  background-image: url(../assets/img/lineupbg.png);
  background-repeat: no-repeat;

  padding-left: 4rem;
  height: 60rem;
}

.lineup__title {
  font-size: 4rem;
  color: var(--wildBlueYonder);
  padding-top: 5rem;
}

.lineup__form {
  width: 90vw;

  display: flex;
  flex-direction: column;
  padding-top: 3rem;

  padding-bottom: 6rem;

  /* border-bottom: 4rem solid var(--wildBlueYonder); */

  @media (--lg) {
    margin-left: 4rem;
  }
}

.chooseDay {
  padding-right: 4rem;
  padding-left: 4rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (--md) {
    flex-direction: row;
  }
}

.chooseDay input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  border: 0;
  overflow: hidden;
}

.chooseDay label {
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;

  padding: 1rem;
  /* border-radius: .5rem; */

  content: '';
  color: var(--toreaBay);
  border: solid .1rem var(--toreaBay);

  margin-bottom: 2.4rem;

  width: 25vw;

  &:hover {
    background-color: #fdf7f7;
  }

  /* @media (--xs) {
    height: 4rem;
  }

  @media (--md) {
    width: 13.5rem;
    height: 15.75rem;

    border: none;
    border-radius: 1.5rem;
  } */
}

.chooseDay input:checked + label {
  font-weight: bold;
  color: white;
  background-color: var(--wildBlueYonder);

  @media (--xs) {
    filter: unset;
  }
}

.filter__label {
  margin-bottom: 3rem;
}

/* #shows */

.chooseEvent {
  padding: 4rem;
  overflow: hidden;

  display: flex;
  justify-content: center;

  margin-top: -5rem;
}

.chooseEvent input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  /* height: .1rem;
  width: .1rem; */
  border: 0;
  overflow: hidden;
}

.chooseEvent input:checked + label {
  background-color: var(--wildBlueYonder);

  color: white;
  font-size: bold;
}

.chooseEvent label {
  color: black;
  background-color: white;

  text-transform: uppercase;

  width: 50vw;

  font-size: 1.6rem;
  text-align: center;
  padding: 1rem 1.5rem;

  border: solid .1rem var(--wildBlueYonder);

  &:hover {
    cursor: pointer;
    background-color: #fdf7f7;
  }
}

.filter__input-per {
  margin-right: 4rem;
}

.labelMoment {
  background-color: var(--aqua);
  border-left: .5rem;
  padding: 1rem;
}

.filter__help {
  margin-bottom: 2rem;
}

.filter__btn {
  border: none;
  border-radius: .5rem;

  align-self: flex-end;
  margin-right: 4rem;

  font-size: 1.6rem;
  color: var(--light);

  background-color: white;

  /* margin-bottom: 30rem; */

  &:hover {
    color: black;
    background-color: var(--aqua);
  }

  @media (--md) {
    width: 25vw;
  }
}

.filter__results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 5rem;
}

.filter__results-title {
  /* background-color: var(--wildBlueYonder); */
}

.download {
  padding: 1.25rem;
  background-color: var(--neonCarrot);
  margin-top: -1.75rem;
  margin-right: 4rem;
}

.resultHeader {
  margin-top: -15rem;
  margin-bottom: 5rem;

  z-index: auto;

  width: 100%;

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  @media (--md) {
    padding-left: 7rem;
  }

  @media (--lg) {
    justify-content: space-between;
    padding-left: 4rem;
  }
}

.filter__result-list {
  display: grid;
  grid-gap: 2.5rem;
  grid-template-rows: auto;

  @media (--xs) {
  }

  @media (--md) {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }

  @media (--lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}
