footer {
  padding-top: 3rem;
  background-color: #754885;

  display: flex;
  flex-direction: column;
  align-items: center;

  grid-area: footer;
}

.summary {
  display: grid;

  justify-content: center;

  @media (--sm) {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'festival switch'
      'about practical'
      'media .';
  }

  @media (--md) {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'festival switch practical'
      'about media .';
  }

  @media (--lg) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 'festival switch practical about media';
  }
}

.footer__summary-festival {
  grid-area: festival;
  padding: 2rem;
}

.footer__summary-switch {
  grid-area: switch;
  padding: 2rem;
}

.footer__summary-about {
  grid-area: about;
  padding: 2rem;
}

.footer__summary-practical {
  grid-area: practical;
  padding: 2rem;
}

.footer__summary-media {
  grid-area: media;
  padding-left: 2rem;

  @media (--lg) {
    padding-top: 2rem;
  }
}

.footerLink {
  list-style: none;
  color: white;
  text-decoration: none;

  padding-top: 1rem;
  padding-bottom: 1rem;

  line-height: 2.4;

  &:hover {
    /* -webkit-text-decoration-line: line-through; */
    text-decoration-line: underline;
  }
}

.smedia {
  display: flex;
  justify-content: space-between;
}

.sponsors {
  background-color: #8df7e7;

  padding-top: 2rem;
  text-align: center;

  justify-content: center;

  width: 100%;

  @media (--sm) {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'dorp horeca'
      'eclats warande'
      'bf bf';
  }

  @media (--md) {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 'dorp horeca eclats warande bf';

    padding-bottom: 3rem;
  }

  @media (--lg) {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 10% repeat(5, 1fr) 10%;
    grid-template-areas: '. dorp horeca eclats warande bf .';
  }
}

.dorp {
  grid-area: dorp;
}

.horeca {
  grid-area: horeca;
}

.eclats {
  grid-area: eclats;
}

.warande {
  grid-area: warande;
}

.bf {
  grid-area: bf;
}

/* .sponsors__links {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
} */

.copyright {
  width: 100%;
  background-color: white;
  font-size: 1.4rem;

  padding: 2rem;
  line-height: 2.4;
}
