footer {
  padding-top: 3rem;
  background-color: #754885;

  display: flex;
  flex-direction: column;
  align-items: center;

  grid-area: footer;
}

.summary {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);

  margin-bottom: 3rem;

  article {
    margin-bottom: 2.4rem;
  }
}

.footerLink {
  list-style: none;
  color: white;
  text-decoration: none;

  padding-top: 1rem;
  padding-bottom: 1rem;

  line-height: 2.4;

  &:hover {
    /* -webkit-text-decoration-line: line-through; */
    text-decoration-line: underline;
  }
}

.smedia {
  display: flex;
  justify-content: space-between;
}

.sponsors {
  background-color: #8df7e7;

  padding-top: 2rem;
  text-align: center;

  width: 100%;

  @media (--sm) {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'dorp horeca'
      'eclats warande'
      'bf bf';
  }
}

.dorp {
  grid-area: dorp;
}

.horeca {
  grid-area: horeca;
}

.eclats {
  grid-area: eclats;
}

.bf {
  grid-area: bf;
}

/* .sponsors__links {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
} */

.copyright {
  width: 100%;
  background-color: white;
  font-size: 1.4rem;

  padding: 2rem;
  line-height: 2.4;
}
