.language {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.chooseLanguage input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: .1rem;
  width: .1rem;
  border: 0;
  overflow: hidden;
}

.chooseLanguage label {
  float: left;

  display: inline-block;
  width: 6rem;
  color: rgba(0, 0, 0, .6);

  font-size: 1.4rem;
  text-align: center;
  padding: .4rem 1.4rem;

  border-right: solid .1rem black;

  &:hover {
    cursor: pointer;
    background-color: #fdf7f7;
  }
}

.chooseLanguage input:checked + label {
  font-weight: bold;
  color: var(--pink);
  border-bottom: solid .2rem var(--pink);
}

.nav {
  @media (--md) {
    display: flex;
  }
}

.logo {
  z-index: 5;
}

.menu {
  background-color: var(--purple);

  height: 5rem;
  width: 100%;

  z-index: 4;

  display: grid;
  flex-direction: column;
  grid-template-columns: 1% repeat(5, 1fr) 1%;
  grid-template-areas: '. home lineup switch prak about . ';

  transition: height .2s, box-shadow .2s;

  @media (--xs) {
    bottom: 0;
    position: fixed;
  }

  @media (--md) {
    position: relative;
    background-color: transparent;
  }
}

.hide {
  visibility: hidden;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: -.5rem;

  @media (--md) {
    visibility: visible;
    color: black;
  }

  &:hover {
    cursor: pointer;
    font-weight: bold;

    transition: font-weight .2s ease-in-out;
  }
}

.nav-list {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.menuItem {
  display: block;
  border-top: solid .25rem transparent;

  &:hover {
    /* background-color: black; */
    border-top: solid .25rem black;
  }
}

.homeNav {
  background-image: url(../assets/img/icon/home.png);
  background-repeat: no-repeat;
  grid-area: home;
  background-position: center;

  @media (--md) {
    display: none;
  }
}

.lineupNav {
  background-image: url(../assets/img/icon/calendarWhite.png);
  background-repeat: no-repeat;
  grid-area: lineup;
  height: 5rem;

  background-position: center;

  padding-bottom: 3rem;

  @media (--md) {
    visibility: hidden;
  }
}

.switchNav {
  background-image: url(../assets/img/icon/switch.png);
  background-repeat: no-repeat;
  grid-area: switch;
  background-position: center;

  @media (--md) {
    visibility: hidden;
  }
}

.prakNav {
  background-image: url(../assets/img/icon/practical.png);
  background-repeat: no-repeat;
  grid-area: prak;
  background-position: center;

  @media (--md) {
    visibility: hidden;
  }
}

.aboutNav {
  content: '';
  background-image: url(../assets/img/icon/about.png);
  background-repeat: no-repeat;
  grid-area: about;
  background-position: center;

  @media (--md) {
    visibility: hidden;
  }
}

.nav-item {
  color: white;
  text-decoration: none;
  text-align: center;

  @media (--xs) {
    content: '';
    /* display: none; */
  }

  @media (--md) {
    display: inline;
  }
}

.current {
  @media (--xs) {
    /* background-color: var(--aqua); */
    border-top: solid .2rem white;
  }

  @media (--md) {
    font-weight: bold;
    border-bottom: solid .1rem var(--pink);
  }
}

.notCurrent {
  @media (--xs) {
    filter: grayscale(80%);
  }
}
