.home__header-img{
    margin-top: -1.5rem;
}

.pageLayout{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 9rem;
}

.pageLayout__header{
    margin-bottom: 3rem;
}

.pageLayout__intro{
    width: 53%;
    line-height: 1.5;
}

.kijkerList {
    display: flex;
    justify-content: space-between;

    margin-bottom: 4rem;


    /* @media (--md) {
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        'one two'
        'three three';
    }
  
    @media (--lg) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-template-areas: 'one two three';
    } */
  }
  
  .kijkerLink {
    width: 20rem;
  }
  
  .first {
    grid-area: one;
  }
  
  .two {
    grid-area: two;
  }
  
  .three {
    grid-area: three;
  
    @media (--md) {
      margin-top: -3rem;
      margin-left: 13rem;
    }
  
    @media (--lg) {
      margin-top: 0;
      margin-left: 0;
    }
  }

.aangenaam__list{
    display: flex;
    justify-content: space-between;
}

.aangenaam__list-item{
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.aangenaam__list-item-title{
    width: 60%;
    text-align: center;

    padding-top: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: .3rem solid var(--pearlLusta);

    margin-bottom: 2rem;
}

.aangenaam__list-item-text{
    line-height: 1.5;
    width: 80%;
}

.edition{
    background-image: url(../assets/img/background.png);
    background-repeat: no-repeat;
}

.edition__movie{
   margin: 0 auto;
}

