.home__header-img {
  margin-top: -1.5rem;
  width: 100%;
  /* height: 100vw; */
}

.pageLayout {
  margin-bottom: 9rem;

  @media (--sm) {
    margin-left: 1rem;
  }

  @media (--md) {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  @media (--lg) {
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 80vw;
  }
}

.pageLayout__header {
  @media (--sm) {
    margin-bottom: 2rem;
  }

  @media (--md) {
    margin-bottom: 3rem;
  }
}

.pageLayout__intro {
  line-height: 1.5;

  @media (--md) {
    width: 60%;
  }
}

.kijkerList {
  margin-bottom: 4rem;

  @media (--md) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.kijker__act-info {
  position: absolute;
  height: 30rem;
  width: 30rem;
  z-index: 1;

  display: grid;
  grid-template-columns: 5% 10fr 40% 5%;
  grid-template-rows: 3rem 2fr 57%;
  grid-template-areas:
    '. . label .'
    '. . . .'
    'info info info info';

  border-radius: 1rem;
}

.kijker__act-typeLabel {
  grid-area: label;
  display: inline-block;
  position: relative;
  color: black;

  padding: 2rem 1.5rem;
  margin-bottom: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: var(--malibu);
    transform: skew(-30deg);
  }
}

.kijker__act-textLabel {
  grid-area: info;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  font-size: 1.8rem;
  color: white;

  background-image: url(../assets/img/itembg.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.kijker__act-textLabel-artist {
  font-size: 1.8rem;
  color: white;

  margin-left: 1.5rem;
  margin-bottom: 2rem;
}

.kijker__act-textLabel-place {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.kijker__act-textLabel-time {
  margin-left: 1.5rem;
  margin-bottom: 2.5rem;
  display: flex;
}

.kijker__act-textLabel-day {
  margin-right: 1.5rem;
}

sup {
  font-size: 1.1rem;
  font-variant-position: super;
}

.kijker__act-img {
  width: 30rem;
  height: 30rem;

  overflow: hidden;
}

.top {
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.btn__discover {
  @media (--sm) {
    margin-left: 30%;
  }

  @media (--md) {
    margin-left: 45%;
  }
}

.aangenaam__list {
  display: flex;

  @media (--sm) {
    flex-direction: column;
  }

  @media (--md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.aangenaam__list-item {
  display: flex;

  align-items: center;

  @media (--sm) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  @media (--md) {
    width: 40%;
    flex-direction: column;
  }
}

.aangenaam__list-item-title {
  text-align: center;

  padding-top: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: .3rem solid var(--pearlLusta);

  margin-bottom: 2rem;

  @media (--sm) {
    margin-left: 1rem;
  }

  @media (--md) {
    width: 60%;
  }
}

.change {
  @media (--sm) {
    order: -1;
    margin-right: 2rem;
  }

  @media (--md) {
    order: 0;
    margin-right: -2rem;
  }
}

.aangenaam__list-item-text {
  line-height: 1.5;

  @media (--sm) {
    width: 93%;
  }

  @media (--md) {
    width: 89%;
  }
}

.edition {
  background-repeat: no-repeat;

  margin-top: -3rem;
  background-size: cover;

  height: 100%;

  @media (--sm) {
    background-image: url('../assets/img/background/backgroundmovie@05.png');
  }

  @media (--md) {
    width: 100vw;
    background-image: url('../assets/img/background/backgroundmovie@075.png');
  }

  @media (--lg) {
    background-image: url('../assets/img/background/backgroundmovie.png');
  }
}

.edition__movie {
  margin-bottom: 3rem;

  @media (max-width: 47em) {
    width: 100%;
    /* margin-bottom: -15rem; */
  }

  @media (--md) {
    margin-left: 20%;
  }

  @media (--lg) {
    margin-left: 25%;
  }
}

.location__list {
  @media (--xl) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    height: 24rem;
  }
}

.location__item {
  position: relative;
  margin-bottom: 2.5rem;
  margin-right: 1.5rem;

  display: flex;
  align-content: center;
}

span {
  position: absolute;
  background: var(--pearlLusta);
  border: .2 solid var(--toreaBay);

  background: url(../assets/img/locationlistbg.png);
  background-repeat: no-repeat;

  width: 2.5rem;
  height: 2.5rem;

  text-align: center;
}

.location__place {
  padding-left: 4rem;
  color: black;

  text-decoration: none;

  &::hover {
    text-decoration: underline;
  }
}

.location__content {
  display: flex;

  @media (--sm) {
    flex-direction: column;
  }

  @media (--md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (--xl) {
    width: 85%;
  }
}

.slider {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  @media (--md) {
    display: grid;
    grid-template-columns: 1fr repeat(2, 25rem) 1fr;
    grid-gap: 2rem;
    grid-template-areas:
      ' . olympic eve .'
      '. crazy market .';
  }

  @media (--lg) {
    grid-template-areas: '. olympic eve crazy market';
  }
}

.item2 {
  width: 25rem;
  height: 25rem;

  overflow: hidden;

  @media (--sm) {
    margin: 2rem;
  }

  @media (--md) {
    margin: 0;
  }
}

.olympic {
  grid-area: olympic;
}

.eve {
  grid-area: eve;
}

.crazy {
  grid-area: crazy;
}

.market {
  grid-area: market;
}

.extra__slider-item-title {
  color: white;
  margin-top: 6rem;
  margin-left: 1rem;
}

.extra__slider-item-text {
  background-image: url(../assets/img/item2bg.png);
  background-repeat: no-repeat;
  background-size: contain;

  margin-top: 14rem;

  position: absolute;

  width: 25rem;
  height: 24.5rem;
}

.item__photo {
  height: 25rem;
  width: 25rem;
}
