:root {
  --color-black: black;
  --color-white: white;
  --color-light: #d2b8db;
  --color-pink: #97217e;
  --color-purple: #754885;
  --color-aqua: #8df7e7;
  --color-gray: #cecbcb;
  --weight-regular: 400;
  --weight-bold: 700;
}

@custom-media --xs screen and (min-width: 0);
@custom-media --sm screen and (min-width: 20em);
@custom-media --md screen and (min-width: 48em);
@custom-media --lg screen and (min-width: 64em);
@custom-media --xl screen and (min-width: 90em);
