:root {
  --light: #d2b8db;
  --pink: #97217e;
  --aqua: #8df7e7;
  --gray: #cecbcb;

  /* --purple: #7F0E7E; */
  --neonCarrot: #fd9827;
  --pearlLusta: #e8e0c9;
  --toreaBay: #394071;
  --malibu: #5dc6f0;
  --purple: #7f0e7e;
  --weight-regular: 400;
  --weight-bold: 700;
}

@custom-media --xs screen and (min-width: 0);
@custom-media --sm screen and (min-width: 20em);
@custom-media --md screen and (min-width: 48em);
@custom-media --lg screen and (min-width: 64em);
@custom-media --xl screen and (min-width: 90em);
