@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';
@import './css/footer.css';
@import './css/home.css';
@import './css/filter.css';
@import './css/detail.css';

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 1.6rem;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

.page__layout {
  display: grid;

  grid-gap: 1.5rem;
  grid-template-columns: 1% 1fr 1%;
  grid-template-areas: '. content .';

  flex-direction: row;
}

.standard {
  grid-area: content;
}

.pageHeader-image {
  @media (--md) {
    margin-top: -3rem;
  }

  @media (--lg) {
    margin-top: -5rem;
  }
}

.nameHeader {
  width: 80%;

  @media (min-width: 69em) {
    width: 70%;
  }

  @media (min-width: 82em) {
    width: 60%;
  }
}

.namesIntro {
  line-height: 1.5;

  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.hidden {
  display: none;
}

.title {
  margin-top: 2rem;
  color: black;
}

.item {

  &:hover {
    filter: grayscale(100%);
  }
}

.btn {
  text-decoration: none;

  border: none;
  padding: 1rem;
  background-color: var(--neonCarrot);
  color: white;
  text-transform: uppercase;

  padding-right: .8rem;
  padding-left: .8rem;

  border-radius: .2rem;

  transition: .3s;

  &:hover {
    filter: brightness(90%);
  }
}

.infoDiv {
  margin-top: -6.5rem;
  margin-bottom: 3rem;

  width: 75vw;
  max-width: 35rem;
}

.info {
  /* width: 75vw; */
  height: 5rem;

  display: grid;
  grid-template-rows: repeat(2, 2rem);
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  grid-auto-flow: column;
  text-align: center;

  border: solid .25rem #97217e;
  border-radius: .5rem;

  margin-top: -3rem;
}

button {
  height: 10.5rem;
  width: 9rem;
}

/* button img {
  vertical-align: middle;
} */

h1,
h2,
h3 {
  font-family: 'Source Sans Bro', Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
  text-transform: capitalize;

  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  color: var(--neonCarrot);

  position: relative;
  display: inline-block;

  padding: 1rem 1.5rem;
  margin-bottom: 2rem;

  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: var(--toreaBay);
    transform: skew(-30deg);
  }

  @media (--md) {
    margin-top: -2rem;
  }
}

h3 {
  text-transform: uppercase;
  color: black;

  margin-bottom: .5rem;
}

.lineup__header {
  margin-left: 1rem;
}

.pageHeader2 {
  padding-bottom: 10rem;
  margin-top: -3rem;
  z-index: auto;
  background-image: linear-gradient(white, var(--light));

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error__name {
  margin-bottom: 2.4rem;
  margin-left: 1rem;

  @media (--sm) {
    width: 95vw;
  }

  @media (--md) {
    width: 60vw;
  }

  @media (min-width: 78.75em) {
    width: 40vw;
  }

  @media (--lg) {
    width: 35vw;
  }
}

.error__comment {
  margin-bottom: 3rem;

  @media (--sm) {
    width: 95vw;
  }

  @media (--md) {
    width: 60vw;
  }

  @media (min-width: 78.75em) {
    width: 40vw;
  }

  @media (--lg) {
    width: 35vw;
  }
}

.btn2 {
  text-decoration: none;
  border: none;
  padding: 1rem;
  background-color: var(--light);
  color: black;

  border-radius: 1rem;

  &:hover {
    background-color: var(--aqua);
  }
}
