@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';
@import './css/footer.css';
@import './css/filter.css';

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 1.6rem;

  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1% auto 1%;
  grid-template-areas:
    'header header header'
    'content content content'
    'footer footer footer';
}

.header {
  grid-area: header;
  z-index: 1;
}

main {
  grid-area: content;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* width: 100vw; */
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

.pageHeader {
  margin-top: -2rem;
  margin-bottom: 10rem;
  z-index: 2;
  background-image: linear-gradient(white, var(--light));

  height: 40rem;

  &::after {
    height: 5rem;
    display: block;
    background: white;

    border-right: solid 1rem white;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    content: '';

    margin-top: -.5rem;
  }
}

.nameHeader {
  /* width: 90vw; */
  /* margin-top: -10rem; */
}

.newNames {
  margin-top: -10rem;
}

.hidden {
  display: none;
}

.top {
  height: 100%;
  width: 100%;

  filter: grayscale(100%);
  object-fit: cover;
}

.gradient {
  max-width: 100%;
  width: 20rem;
  height: 20rem;

  overflow: hidden;

  border: solid .1rem var(--pink);
  border-radius: 1rem;

  &::after {
    display: block;
    position: relative;
    background-image:
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0,
        #97217e 100%
      );
    margin-top: -150px;
    height: 150px;
    /* width: 100%; */
    content: '';
  }
}

.kijker {
  margin-bottom: 3rem;
}

.btn {
  text-decoration: none;

  padding: 1rem;
  background-color: var(--light);
  color: black;

  border-radius: 1rem;

  &:hover {
    background-color: var(--aqua);
  }
}

.edition {
  background-image: url(assets/img/backgroundPreviousEdition.jpg);
  background-repeat: no-repeat;
}

.previous {
  filter: brightness(90%);

  &:hover {
    filter: brightness(100%);
  }
}

.infoDiv {
  margin-top: -6.5rem;
  margin-bottom: 3rem;

  width: 95vw;
}

.info {
  /* width: 75vw; */
  height: 5rem;

  display: grid;
  grid-template-rows: repeat(2, 2rem);
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  grid-auto-flow: column;
  text-align: center;

  border: solid .25rem #97217e;
  border-radius: .5rem;

  margin-top: -3rem;
}

button {
  height: 10.5rem;
  width: 9rem;
}

/* button img {
  vertical-align: middle;
} */

h1,
h2,
h3 {
  font-family: Gobold, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5rem;
  color: #97217e;

  margin-top: 3rem;
  margin-bottom: 1rem;
}

h3 {
  text-transform: uppercase;
  color: white;

  margin-bottom: 2.4rem;
}
